.App-Container{
  font-family:  "Lato","Helvetica","Arial",sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}
.App-Container h1{
  min-height: 14px;
  font-size: 28px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .App-Container {
    width: 90%;
  }
}